<div class="main">
    <div class="left"
         [class.left-search]="search">
        <div class="form">
            <show-author *ngIf="entitiesID===1"
                         (coordinats)="onSpatial($event)"
                         [id]="id"></show-author>
            <show-research *ngIf="entitiesID===2"
                           (coordinats)="onSpatial($event)"
                           [id]="id"></show-research>
            <show-monument *ngIf="entitiesID===3"
                           (coordinats)="onSpatial($event)"
                           [id]="id"></show-monument>
            <show-excavation *ngIf="entitiesID===4"
                           (coordinats)="onSpatial($event)"
                           [id]="id"></show-excavation>
        </div>
    </div>
    <div class="right"
         [class.right-search]="bool">
        <div  style="height: 100%; width:100%;"
              id="map">
        </div>
    </div>
</div>