.main {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 49px);
  min-height: calc(100vh - 49px);
  .left, .right {
    position: relative;
    width: 50%;
  }
  .left-search{
    .form{
      width: 85% !important;
    }
  }
  .right-search{
  }
  .left{
    position: relative;
    width: 50%;
    margin: 0px 11px 12px 11px;
    .form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 75%;
      margin-top: 25px;
      padding: 50px;
      background-color: #ffffff;
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.15);
      .form-children{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      md-select{
        padding: 15px 5px 5px 0;
      }
      button{
        margin: 10px auto;
        width: 200px;
      }
      md-input-container{
        margin-bottom: -15px;
        margin-top: -15px;
      }
    }
    .table{
      a{
        font-size: 14px;
      }
    }
  }
}