<div class="main">
    <div class="left"
         [class.left-search]="search">
        <div class="form">
            <show-author *ngIf="entitiesID===1"
                         (coordinats)="onSpatial($event)"
                         [id]="id"></show-author>
            <show-research *ngIf="entitiesID===2"
                           (coordinats)="onSpatial($event)"
                           [id]="id"></show-research>
            <show-monument *ngIf="entitiesID===3"
                           (coordinats)="onSpatial($event)"
                           [id]="id"></show-monument>
            <show-report *ngIf="entitiesID===4"
                         (coordinats)="onSpatial($event)"
                         [id]="id"></show-report>
            <show-excavation *ngIf="entitiesID===5"
                           (coordinats)="onSpatial($event)"
                           [id]="id"></show-excavation>
            <show-artifact *ngIf="entitiesID===6"
                           (coordinats)="onSpatial($event)"
                           [id]="id"></show-artifact>
            <show-publication *ngIf="entitiesID===7"
                           (coordinats)="onSpatial($event)"
                         [id]="id"></show-publication>
            <show-radiocarbon *ngIf="entitiesID===8"
                           (coordinats)="onSpatial($event)"
                         [id]="id"></show-radiocarbon>
        </div>
    </div>
    <!--<div class="right"
         [class.right-search]="bool">
        <div  style="height: 100%; width:100%;"
              id="map">
        </div>
    </div>-->
   <!--<md-tab-group>
        <md-tab label="Tab 1">
            <div class="right"
                 [class.right-search]="bool">
                <div  style="height: 100%; width:100%;"
                      id="map">
                </div>
            </div>
        </md-tab>
        <md-tab label="Tab 2">
            <div class="right"
                 [class.right-search]="bool">
                <div  style="height: 100%; width:100%;"
                      id="map_Verstovka_clip">
                </div>
            </div>
        </md-tab>
    </md-tab-group>-->
    <div class="maps">
        <md-button-toggle-group #group="mdButtonToggleGroup"
                                class="class-group">
            <md-button-toggle value="general"
                              (click)="onSelectMap(group.value)">
                Общая
            </md-button-toggle>
            <md-button-toggle value="Verstovka"
                              (click)="onSelectMap(group.value)">
                Verstovka
            </md-button-toggle>
            <md-button-toggle value="PGM"
                              (click)="onSelectMap(group.value)">
                PGM
            </md-button-toggle>
        </md-button-toggle-group>
        <div class="right"
             [hidden]="selectMap!==0"
             [class.right-search]="bool">
            <general-map *ngIf="items"
                         [items]="items"></general-map>
        </div>
        <div class="right"
             [hidden]="selectMap!==1"
             [class.right-search]="bool">
            <verstovka-map *ngIf="items"
                           [items]="items"></verstovka-map>
        </div>
    </div>
</div>
