.main {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 49px);
  min-height: calc(100vh - 49px);
  overflow: hidden;
  .left, .right {
    position: relative;
    height: 100vh;
  }
  .left{
    overflow: auto;
    width: 50%;
  }
  .right{
    width: 100%;
    }
  .class-group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .right-hidden{
    display: block;
  }
  .left-search{
    .form{
      width: 85% !important;
    }
  }
  .right-search{
  }
  .left{
    position: relative;
    width: 50%;
    margin: 0px 11px 12px 11px;
    .form{
      flex-direction: column;
      justify-content: center;
      width: 85%;
      margin-top: 25px;
      padding: 25px 50px 25px 50px;
      background-color: #ffffff;
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.15);
      min-height: calc(100vh - 150px);
      .form-children{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      md-select{
        padding: 15px 5px 5px 0;
      }
      button{
        margin: 10px auto;
        width: 200px;
      }
      md-input-container{
        margin-bottom: -15px;
        margin-top: -15px;
      }
    }
    .table{
      a{
        font-size: 14px;
      }
    }
  }
}

.block{
  margin: 10px;
  .request-name{
    color: #3e5b78;
    font-size: 13px;
  }

  .request-name-main{
    font-size: 16px;
    word-break: break-word;
  }
}

.maps{
  width: 50%;
}