<div class="main">
    <div class="left">
        <div class="form">
            <h2>{{ 'search.advanced' | translate }}</h2>
            <md-select placeholder="{{ 'search.subject' | translate }}">
                <md-option *ngFor="let type of typeS"
                           [value]="type.id">
                    {{ type.name | translate}}
                </md-option>
            </md-select>

            <h3>{{ 'search.criteria' | translate }}</h3>
            <search-criteria [num]="crit" *ngFor="let crit of criteriaCount"></search-criteria>

            <button md-raised-button
                    (click)="addCriteria()"
                    color="primary">
                <md-icon>search</md-icon>
                {{ 'search.add-criterion' | translate }}
            </button>

            <button md-raised-button
                    (click)="getSearch()"
                    color="primary">
                <md-icon>search</md-icon>
                {{ 'search.search' | translate }}
            </button>
        </div>
    </div>
    <div class="right">
        <div leaflet style="height: 100%;"
             [leafletOptions]="options">
        </div>
    </div>
</div>