<div class="main">
    <div class="main-item">
        <div class="title-item">
            Раскопки
        </div>
        <div><span class="title">Памятник:</span> Ошибка данных, <span class="title">Год:</span> Ошибка данных, <span class="title">Статус:</span> Ошибка данных <md-icon mdTooltip="Изменить статус">edit</md-icon></div>

    </div>
    <div class="main-item">
        <div class="title-item">
            Разведки
        </div>
        <div><span class="title">Название:</span> Ошибка данных, <span class="title">Год:</span> Ошибка данных, <span class="title">Статус:</span> Ошибка данных <md-icon mdTooltip="Изменить статус">edit</md-icon></div>

    </div>
    <div class="main-item">
        <div class="title-item">
            Аналитические исследования

        </div>
        <div><span class="title">Название:</span> Ошибка данных, <span class="title">Год:</span> Ошибка данных, <span class="title">Статус:</span> Ошибка данных <md-icon mdTooltip="Изменить статус">edit</md-icon></div>

    </div>







</div>
