<!--<table cellpadding="7">
    <tr>
        <th *ngFor="let item of items">
            {{item}}
        </th>
    </tr>
    <tr *ngFor="let item of items">
        <td>{{item}}</td>
    </tr>
</table>
-->
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">ID</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Эпоха</th>
        <th>Исследования</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">100000000000860</td>
        <td>Коминтерновский II могильник, Коминтерновский II могильник</td>
        <td>Грунтовый могильник	</td>
        <td>Эпоха Великого переселения	</td>
        <td>Социально-экономическое развитие население Среднего Поволжья в середине I тыс. н.э., Раскопки 1984 (Казаков Е.П. 1984)	</td>
        <td><a href="http://localhost:3005/#/main/admin-panel/show">Редактировать</a></td>
        <td><a>Удалить</a></td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">100000000000861</td>
        <td>Коминтерновский III могильник, Коминтерновский III могильник</td>
        <td>Грунтовый могильник	</td>
        <td>Эпоха Великого переселения	</td>
        <td>Социально-экономическое развитие население Среднего Поволжья в середине I тыс. н.э., Раскопки 1992 (Казаков Е.П. 1992)	</td>
        <td><a>Редактировать</a></td>
        <td><a>Удалить</a></td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">100000000000862</td>
        <td>Коминтерновское городище, Коминтерновское городище, Коминтерновское городище</td>
        <td>Укрепленное поселение (городище)</td>
        <td>Эпоха Великого переселения	</td>
        <td>Памятники именьковской культуры, Социально-экономическое развитие население Среднего Поволжья в середине I тыс. н.э., Разведка 1961 (Казаков Е.П. 1961)	</td>
        <td><a>Редактировать</a></td>
        <td><a>Удалить</a></td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">100000000000863</td>
        <td>Коминтерновское I селище, Коминтерновское I селище, Коминтерновское I селище</td>
        <td>Неукрепленное поселение (стоянка/селище)</td>
        <td>Эпоха Великого переселения	</td>
        <td>Памятники именьковской культуры, Социально-экономическое развитие население Среднего Поволжья в середине I тыс. н.э., Разведка 1964 (АЭ КФАН 1964)</td>
        <td><a>Редактировать</a></td>
        <td><a>Удалить</a></td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">100000000000864</td>
        <td>Коминтерновское II селище, Коминтерновское II селище, Коминтерновское II селище	</td>
        <td>Неукрепленное поселение (стоянка/селище)</td>
        <td>Эпоха Великого переселения	</td>
        <td>Памятники имПамятники именьковской культуры, Социально-экономическое развитие население Среднего Поволжья в середине I тыс. н.э., Разведка 1964 (АЭ КФАН 1964)	еньковской культуры, Социально-экономическое развитие население Среднего Поволжья в середине I тыс. н.э., Разведка 1964 (АЭ КФАН 1964)</td>
        <td><a>Редактировать</a></td>
        <td><a>Удалить</a></td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">100000000000865</td>
        <td>Коминтерновское III селище, Коминтерновское III селище, Коминтерновское III селище	</td>
        <td>Неукрепленное поселение (стоянка/селище)</td>
        <td>Эпоха Великого переселения	</td>
        <td>Памятники именьковской культуры, Социально-экономическое развитие население Среднего Поволжья в середине I тыс. н.э., Разведка 1946 (Калинин Н.Ф. 1946)</td>
        <td><a>Редактировать</a></td>
        <td><a>Удалить</a></td>
    </tr>
    </tbody>
</table>
