<md-tab-group>
    <md-tab label="Общие сведения">
        <md-list *ngIf="research">

            <md-list-item>
                <p md-line>Автор:</p>
                <p md-line>
                    <a [routerLink]="['/main', 'admin-panel', 'show', 'author', research.author.id]">
                        {{research.author.name}}</a>
                </p>
            </md-list-item>

            <span *ngIf="research.coauthors">
                <md-list-item *ngFor="let author of research.coauthors">
                    <p md-line>Соавтор:</p>
                    <p md-line>
                        <a [routerLink]="['/main', 'admin-panel', 'show', 'author', author.id]">
                            {{author.name}}</a>
                    </p>
                </md-list-item>
            </span>

            <md-list-item *ngIf="!editName">
                <p md-line>Название:</p>
                <p md-line>
                    {{research.name}}
                    <md-icon mdTooltip="Редактировать"
                             (click)="editName=!editName">edit</md-icon>
                </p>
            </md-list-item>

            <md-list-item *ngIf="editName">
                <p md-line>Название:</p>
                <md-input-container md-line>
                    <input mdInput
                           (keyup.enter)="editName=!editName"
                           [(ngModel)]="research.name">
                </md-input-container>
                <md-icon class="icon-save"
                         mdTooltip="Сохранить"
                         (click)="editName=!editName">save</md-icon>
            </md-list-item>


            <md-list-item *ngIf="!editYear">
                <p md-line>Год проведения исследования:</p>
                <p md-line>
                    {{research.year}}
                    <md-icon mdTooltip="Редактировать"
                             (click)="editYear=!editYear">edit</md-icon>
                </p>
            </md-list-item>

            <md-list-item *ngIf="editYear">
                <p md-line>Год проведения исследования:</p>
                <md-input-container md-line>
                    <input mdInput
                           (keyup.enter)="editYear=!editYear"
                           [(ngModel)]="research.year">
                </md-input-container>
                <md-icon class="icon-save"
                         mdTooltip="Сохранить"
                         (click)="editYear=!editYear">save</md-icon>
            </md-list-item>



            <md-list-item>
                <p md-line>Тип исследования:</p>
                <p md-line>Не указан</p>
            </md-list-item>

            <md-list-item *ngIf="!editDescription">
                <p md-line>Описание:</p>
                <p md-line>
                    {{research.description}}
                    <md-icon mdTooltip="Редактировать"
                             (click)="editDescription=!editDescription">edit</md-icon>
                </p>
            </md-list-item>

            <md-list-item *ngIf="editDescription">
                <p md-line>Описание:</p>
                <md-input-container md-line>
                    <textarea mdInput
                           (keyup.enter)="editDescription=!editDescription"
                           [(ngModel)]="research.description">
                    </textarea>
                </md-input-container>
                <md-icon class="icon-save"
                         mdTooltip="Сохранить"
                         (click)="editDescription=!editDescription">save</md-icon>
            </md-list-item>


            <md-list-item>
                <p md-line>Публикация:</p>
                <p md-line> <a [routerLink]="['/main', 'admin-panel', 'publication', 'author', research.publication.id]">
                    {{research.publication.name}}</a></p>
            </md-list-item>

        </md-list>
    </md-tab>

    <md-tab label="Памятники">

    </md-tab>

    <md-tab label="ОКН">

    </md-tab>

    <md-tab label="Вскрытия">

    </md-tab>
    <md-tab label="Топопланы">

    </md-tab>

    <md-tab label="Артефакты">

    </md-tab>

    <md-tab label="Радиоуглеродные датировки">

    </md-tab>
    <md-tab label="Культуры">

    </md-tab>
</md-tab-group>