
<!--
<md-tab-group class="main-tabs">
    <md-tab  *ngFor="let item of listTopB"
             [routerLink]="item.link"
             label="{{item.label}}">Content 1</md-tab>
</md-tab-group>-->

<nav md-tab-nav-bar>
    <a md-tab-link
       *ngFor="let item of listTopB"
       [routerLink]="item.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
        {{item.label}}
    </a>
    <button md-button
            [mdMenuTriggerFor]="menu"
            class="menu">Язык</button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <span class="lg-button"><img src="assets/icon/ru.png">Русский</span>
        </button>
        <button md-menu-item >
            <span class="lg-button"><img src="assets/icon/en.png">English</span>
        </button>
    </md-menu>
</nav>



