.main{
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F8F8F8;
}


nav{
  display: flex;
  justify-content: center;
  a{
    min-width: auto !important;
  }
}

.main-tabs{
  background-color: #F8F8F8;
}
.item{
  padding: 10px;
  color: #9E9EB6;
  font-size: 15px;
  text-decoration: none;
}


.menu{
  color: #9E9EB6;
  font-size: 15px;
  margin-top: 6px;
}

.menu:hover{
  color: #333333;
}


.item:hover{
  color: #333333;
}



.lg-button{
  display: flex;
  align-items: center;
  img{
    margin-right: 3px;
  }
}