<div class="main">
    <div class="left">
        <div class="form">
            <h2>Быстрый поиск</h2>
            <md-select placeholder="Что ищем?"
                       [(ngModel)]="typeSID">
                <md-option *ngFor="let type of typeS"
                           [value]="type.id">
                    {{ type.name }}
                </md-option>
            </md-select>
            <h3>Критерии поиска</h3>
            <div [ngSwitch]="typeSID">
                <template [ngSwitchCase]="1">
                    <quick-search-monument class="form-children"></quick-search-monument>
                </template>
                <template [ngSwitchCase]="2">
                    <quick-search-study class="form-children"></quick-search-study>
                </template>
                <template [ngSwitchCase]="3">
                    <quick-search-author class="form-children"></quick-search-author>
                </template>
                <template [ngSwitchCase]="4">
                    <quick-search-report class="form-children"></quick-search-report>
                </template>
                <template [ngSwitchCase]="5">
                    <quick-search-OCN class="form-children"></quick-search-OCN>
                </template>
                <template [ngSwitchCase]="6">
                    <quick-search-opening class="form-children"></quick-search-opening>
                </template>
                <template [ngSwitchCase]="7">
                    <quick-search-radiocarbon-dating class="form-children"></quick-search-radiocarbon-dating>
                </template>
            </div>

        </div>
    </div>
    <div class="right">
        <div leaflet style="height: 100%;"
             *ngIf="bool"
             [leafletOptions]="options"
             [leafletLayers]="layers"
             [leafletLayersControl]="layersControl">
        </div>
    </div>
</div>