<md-tab-group>
   <!-- <md-tab label="Общие сведения">
        <div class="block">
            <div class="request-name">Названия памятника:</div>
            <div class="request-name-main">
                <a [routerLink]="['/main', 'admin-panel', 'show', 'author', research.author.id]">
                    {{research.author.name}}</a>
            </div>
        </div>
    </md-tab>-->
    <md-tab label="Исследования">
        <button md-button>Исследование №1: Обломский А.М., Аналитическое, 2004</button>
        <button md-button>Исследование №2: Гавритухин И.О., Аналитическое, 2004</button>
    </md-tab>
    <md-tab label="Датировки">
        Хронологические рамки культурного слоя:
        Века: 5 — 6 - <a>Раннесредневековое трупоположение у с. Лихачевка Полтавской области - 2004 (Обломский А.М., Аналитическое, 2004)</a>
        Века: 450 — 550 - <a>Среднеднепровские ингумации второй половины V—VI в. - 2004 (Гавритухин И.О., Аналитическое, 2004)</a>
    </md-tab>
    <md-tab label="Отчёты">Content 2</md-tab>
    <md-tab label="Вскрытия">Content 2</md-tab>
    <md-tab label="Артефакты">Content 2</md-tab>
    <md-tab label="Радиоуглеродные датировки">Content 2</md-tab>
    <md-tab label="Фотографии">Content 2</md-tab>
    <md-tab label="Топопланы">Content 2</md-tab>
    <md-tab label="История координат">Content 2</md-tab>
    <md-tab label="3D модель">Content 2</md-tab>
</md-tab-group>