<div class="main">
    <div class="list-item">
        <md-nav-list>
            <a md-list-item
               *ngFor="let link of links"
                (click)="onSelect(link.id)">
                {{link.name}}
            </a>
        </md-nav-list>
    </div>
    <div class="main-item">
            <div *ngIf="item===1">
                <personal-information></personal-information>
            </div>
            <div *ngIf="item===2">
                <scientific-biography></scientific-biography>
            </div>
            <div *ngIf="item===3">
                <places-work></places-work>
            </div>
            <div *ngIf="item===4">
                <personal-monument></personal-monument>
            </div>
            <div *ngIf="item===5">
                <my-research></my-research>
            </div>
            <div *ngIf="item===6">
                <my-report></my-report>
            </div>
            <div *ngIf="item===7">
                <my-publish></my-publish>
            </div>
            <div *ngIf="item===8">
                <my-samples></my-samples>
            </div>
            <div *ngIf="item===9">
                <my-current-research></my-current-research>
            </div>
            <div *ngIf="item===10">
                <my-colleagues></my-colleagues>
            </div>
            <div *ngIf="item===11">
                <my-maps></my-maps>
            </div>
            <div *ngIf="item===12">
                <my-tools></my-tools>
            </div>
            <div *ngIf="item===13">
                <my-messages></my-messages>
            </div>
    </div>
</div>