<div class="main">
    <div class="main-item">
        <div class="title-item">
            Кандидатская
        </div>
        <md-input-container>
            <input mdInput placeholder="Тема">
        </md-input-container>

        <md-input-container>
            <input mdInput
                   type="datetime-local"
                   placeholder="Год">
        </md-input-container>

        <md-select placeholder="Организация написания ">
            <md-option></md-option>
        </md-select>

        <md-select placeholder="Ведущая организация ">
            <md-option></md-option>
        </md-select>

        <span>
            <md-select placeholder="Оппоненты">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Оппоненты')">
                add</md-icon>
        </span>

        <md-select placeholder="Организация – место защиты">
            <md-option></md-option>
        </md-select>

        <button md-raised-button
                class="button-add"
                (click)="addDissert=!addDissert">
            Добавить диссертацию
        </button>

        <div *ngIf="addDissert" class="add-diset">
            <md-input-container>
                <input mdInput placeholder="Тема">
            </md-input-container>

            <md-input-container>
                <input mdInput
                       type="datetime-local"
                       placeholder="Год">
            </md-input-container>


            <span>
                <md-select placeholder="Организация написания ">
                    <md-option></md-option>
                </md-select>
                 <md-icon mdTooltip="Добавить"
                          (click)="onAdd('Организация написания ')">
                add</md-icon>
                </span>


            <span>
                <md-select placeholder="Ведущая организация ">
                    <md-option></md-option>
                </md-select>
                  <md-icon mdTooltip="Добавить"
                           (click)="onAdd('Ведущая организация ')">
                add</md-icon>
                </span>

            <span>
            <md-select placeholder="Оппоненты">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Оппоненты')">
                add</md-icon>
        </span>

            <md-select placeholder="Организация – место защиты">
                <md-option></md-option>
            </md-select>

            <button md-raised-button
                    class="button-add"
                    (click)="addDissert=!addDissert"
                    color="primary">
                Добавить
            </button>
        </div>




    </div>
    <div class="main-item">
        <div class="title-item">
            Докторская
        </div>
        <md-input-container>
            <input mdInput placeholder="Тема">
        </md-input-container>

        <md-input-container>
            <input mdInput
                   type="datetime-local"
                   placeholder="Год">
        </md-input-container>

        <md-select placeholder="Организация написания ">
            <md-option></md-option>
        </md-select>

        <md-select placeholder="Ведущая организация ">
            <md-option></md-option>
        </md-select>

        <span>
            <md-select placeholder="Оппоненты">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Оппоненты')">
                add</md-icon>
        </span>

        <md-select placeholder="Организация – место защиты">
            <md-option></md-option>
        </md-select>

        <button md-raised-button
                class="button-add"
                (click)="addDissert=!addDissert">
            Добавить диссертацию
        </button>

        <div *ngIf="addDissert" class="add-diset">
            <md-input-container>
                <input mdInput placeholder="Тема">
            </md-input-container>

            <md-input-container>
                <input mdInput
                       type="datetime-local"
                       placeholder="Год">
            </md-input-container>


            <span>
                <md-select placeholder="Организация написания ">
                    <md-option></md-option>
                </md-select>
                 <md-icon mdTooltip="Добавить"
                          (click)="onAdd('Организация написания ')">
                add</md-icon>
                </span>


            <span>
                <md-select placeholder="Ведущая организация ">
                    <md-option></md-option>
                </md-select>
                  <md-icon mdTooltip="Добавить"
                           (click)="onAdd('Ведущая организация ')">
                add</md-icon>
                </span>

            <span>
            <md-select placeholder="Оппоненты">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Оппоненты')">
                add</md-icon>
        </span>

            <md-select placeholder="Организация – место защиты">
                <md-option></md-option>
            </md-select>

            <button md-raised-button
                    class="button-add"
                    (click)="addDissert=!addDissert"
                    color="primary">
                Добавить
            </button>
        </div>




    </div>



    <button md-raised-button color="primary">
        Сохранить
    </button>


</div>
