<div class="main">
    <div class="main-item">
        <div class="title-item">
            Кандидатская
        </div>
        <md-input-container>
            <input mdInput placeholder="Тема">
        </md-input-container>

        <md-input-container>
            <input mdInput
                   type="datetime-local"
                   placeholder="Дата рождения">
        </md-input-container>

        <md-select placeholder="Организация написания ">
            <md-option></md-option>
        </md-select>

        <md-select placeholder="Ведущая организация ">
            <md-option></md-option>
        </md-select>

        <span>
            <md-select placeholder="Оппоненты">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Оппоненты')">
                add</md-icon>
        </span>

        <md-select placeholder="Организация – место защиты">
            <md-option></md-option>
        </md-select>




        <md-input-container>
            <input mdInput placeholder="Пароль">
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Имя">
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Oтчество">
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Фамилия">
        </md-input-container>


    </div>

    <div class="main-item">
        <div class="title-item">
            Фотографии
        </div>
        <image-upload
                [buttonCaption]="'Выберите фотографию'"
        ></image-upload>
    </div>

    <div class="main-item">
        <div class="title-item">
            Научные интересы
        </div>

        <span>
            <md-select placeholder="Регион">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                    (click)="onAdd('Регион')">add</md-icon>
        </span>

        <span>
            <md-select placeholder="Эпоха">
             <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Эпоха')">add</md-icon>
        </span>


        <span>
            <md-select placeholder="Период">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Период')">add</md-icon>
        </span>


        <span>
            <md-select placeholder="Культуры">
                <md-option></md-option>
            </md-select>
            <md-icon mdTooltip="Добавить"
                     (click)="onAdd('Культурa')">add</md-icon>
        </span>



        <md-input-container style="margin-top: 1em;">
            <textarea mdInput placeholder="Биография">
            </textarea>
        </md-input-container>


    </div>

    <button md-raised-button color="primary">
        Сохранить
    </button>


</div>
