.main{
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F8F8F8;
}


.main-tabs{
  background-color: #F8F8F8;
}
.item{
  padding: 10px;
  color: #9E9EB6;
  font-size: 15px;
  text-decoration: none;
}

.item:hover{
  color: #333333;
}

a{
  min-width: auto !important;
}