<div class="main">
    <div class="main-item">
        <div class="title-item">
            Памятники
        </div>
        <div class="item">
            <div class="line"><span class="title">Название:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Описание:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Перейти к анализу данных:</span> <a>Ошибка данных</a> </div>
        </div>
    </div>
    <div class="main-item">
        <div class="title-item">
            Исследования
        </div>
        <div class="item">
            <div class="line"><span class="title">Название:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Описание:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Перейти к анализу данных:</span> <a>Ошибка данных</a> </div>
        </div>
    </div>
    <div class="main-item">
        <div class="title-item">
            Авторы
        </div>
        <div class="item">
            <div class="line"><span class="title">Название:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Описание:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Перейти к анализу данных:</span> <a>Ошибка данных</a> </div>
        </div>
    </div>

    <div class="main-item">
        <div class="title-item">
            Комплексы
        </div>
        <div class="item">
            <div class="line"><span class="title">Название:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Описание:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Перейти к анализу данных:</span> <a>Ошибка данных</a> </div>
        </div>
    </div>

    <div class="main-item">
        <div class="title-item">
            Артефакты
        </div>
        <div class="item">
            <div class="line"><span class="title">Название:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Описание:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Перейти к анализу данных:</span> <a>Ошибка данных</a> </div>
        </div>
    </div>


    <div class="main-item">
        <div class="title-item">
            Анализы
        </div>
        <div class="item">
            <div class="line"><span class="title">Название:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Описание:</span> Ошибка данных <md-icon mdTooltip="Изменить">edit</md-icon></div>
            <div class="line"><span class="title">Перейти к анализу данных:</span> <a>Ошибка данных</a> </div>
        </div>
    </div>








</div>
