<div class="block">
    <md-select placeholder="Критерий №{{count}}" class="criteria-select"
               [(ngModel)]="criteriaID"  (ngModelChange)="change($event)">
        <md-option *ngFor="let crit of criteria"
                   [value]="crit.id">
            {{ crit.desc }}
        </md-option>
    </md-select>
</div>

<div class="block">
    <div [ngSwitch]="criteriaID">
        <ng-template [ngSwitchCase]="16">
            <md-select class="criteria-input" placeholder="Выберите тип" [(ngModel)]="value" (ngModelChange)="change($event)">
                <md-option *ngFor="let item of resTypes"
                           [value]="item.id">
                    {{ item.name }}
                </md-option>
            </md-select>
        </ng-template>
        <ng-template [ngSwitchCase]="19">
            <md-select class="criteria-input" placeholder="Выберите" [(ngModel)]="value" (ngModelChange)="change($event)">
                <md-option *ngFor="let item of herSec"
                           [value]="item.id">
                    {{ item.name }}
                </md-option>
            </md-select>
        </ng-template>
        <ng-template [ngSwitchCase]="26">
            <md-select class="criteria-input" placeholder="Выберите эпоху" [(ngModel)]="value" (ngModelChange)="change($event)">
                <md-option *ngFor="let item of epochs"
                           [value]="item.id">
                    {{ item.name }}
                </md-option>
            </md-select>
        </ng-template>
        <ng-template [ngSwitchCase]="25">
            <md-select class="criteria-input" placeholder="Выберите тип" [(ngModel)]="value" (ngModelChange)="change($event)">
                <md-option *ngFor="let item of siteTypes"
                           [value]="item.id">
                    {{ item.name }}
                </md-option>
            </md-select>
        </ng-template>
        <ng-template ngSwitchDefault>
            <md-input-container class="criteria-input">
                <input mdInput
                       placeholder="Значение"
                       [(ngModel)]="value" (ngModelChange)="change($event)">
            </md-input-container>
        </ng-template>
        <md-checkbox [(ngModel)]="critNOT" (ngModelChange)="change($event)">NOT</md-checkbox>
    </div>
</div>
