@import "../advanced-search.component";

md-select, md-input-container{
  width: 99%;
}

md-select {
  margin-top: 20px;
}

.type-select {
  margin-bottom: 10px;
}

md-input-container {
  margin-top: 5px;
}