.main{
  display: flex;
  flex-direction: column;
  margin: 2em 10em;
  .main-item{
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    .title-item{
      margin-left: -2em;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 1em;
    }
  }
}

md-input-container, md-select{
  width: 300px;
}
md-icon{
  cursor: pointer;
}

image-upload{
  display: flex;
}

.add-diset{
  display: flex;
  flex-direction: column;
}

.button-add{
  margin: 2em;
  width: 300px;
}


.title{
  font-weight: 700;
}

.item{
  display: flex;
  flex-direction: column;
  .line{
    margin: 5px;
    a{
      cursor: pointer;
      text-decoration: #0D47A1;
    }
  }
}