<div class="block">
    <div class="request-name-main">
        <a [routerLink]="['/main', 'admin-panel', 'show', 'research', research.id]">
            Перейти к исследованию
        </a>
    </div>
</div>

<div class="block" *ngIf="!editName">
    <div class="request-name">Название, данное исследователем:</div>
    <div class="request-name-main">
        {{research.name}}
        <md-icon mdTooltip="Редактировать"
                 (click)="editName=!editName">edit</md-icon>
    </div>
</div>
<div class="block" *ngIf="editName">
    <div class="request-name">Название:</div>
    <md-input-container md-line>
        <input mdInput
               (keyup.enter)="editName=!editName"
               [(ngModel)]="research.name">
    </md-input-container>
    <md-icon class="icon-save"
             mdTooltip="Сохранить"
             (click)="editName=!editName">save</md-icon>
</div>

<div class="block">
    <div class="request-name">Культурная принадлежность, определенная исследователем:</div>
    <div class="request-name-main">
        <a [routerLink]="['/main', 'admin-panel', 'show', 'culture', research.culture.id]">
            {{research.culture.ru_name}}
        </a>
    </div>
</div>





<div class="block" *ngIf="!editDescription">
    <div class="request-name">Описание памятника:</div>
    <div class="request-name-main">
        {{research.description}}
        <md-icon mdTooltip="Редактировать"
                 (click)="editDescription=!editDescription">edit</md-icon>
    </div>
</div>
<div class="block" *ngIf="editDescription">
    <div class="request-name">Описание памятника:</div>
    <md-input-container md-line>
                    <textarea mdInput
                              (keyup.enter)="editDescription=!editDescription"
                              [(ngModel)]="research.description">
                    </textarea>
    </md-input-container>
    <md-icon class="icon-save"
             mdTooltip="Сохранить"
             (click)="editDescription=!editDescription">save</md-icon>
</div>

<div class="block">
    <div class="request-name">Найденные артефакты:
    </div>
    <div class="request-name-main">
            {{research.artifacts_count}}
    </div>
</div>

<div class="block">
    <div class="request-name">Археологические вскрытия:</div>
    <div class="request-name-main">
            {{research.excavations_count}}
    </div>
</div>
